.container {
    height: 100vh;
    background: var(--blue);

    display: flex;
    align-items: center;
}

.container section {
    background: url('/logo.svg') no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: center;

    display: flex;
    align-content: center;
    justify-content: flex-end;
    
    width: 100%;
    height: 100%;
    margin: auto;
}

.container section > img {
    width: 100%;
}

.login {
    min-width: 40%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.login .logo {
    margin-bottom: 6rem;
}

.login .logo svg path[attributeName="change"] {
    fill: var(--white);
}

.login .logo svg {
    width: 22.5rem;
}

.login strong {
    font-size: 2.8rem;
    color: var(--white);

    margin-bottom: 2rem;
}

.github {
    display: flex;
    margin-bottom: 2rem;
}

.github img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.github p {
    color: var(--text-highlight);
    max-width: 60%;
    font-size: 1.2rem;
}

.login form {
    display: flex;
    height: 5rem;
}

.login form input {
    height: 100%;
    width: 21rem;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    font-size: 1.5rem;
    color: var(--text-highlight);

    padding-left: 2rem;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 100%)
}

.login form input::placeholder {
    font-size: 1.5rem;
    color: var(--text-highlight);
}

.login form button {
    width: 5rem;
    height: 5rem;

    background: var(--blue-dark);

    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    transition: background-color 0.2s;
}

.login form button:disabled {
    cursor: not-allowed;
}

@media(max-width: 1024px) {
    .login {
        margin-right: 2rem;
    }
}

@media(max-width: 500px) {
    .container section {
        justify-content: center;
    }

    .login {
        margin: none;
        margin: auto;
    
        max-width: 320px;
        align-items: center;
    }

    .github {
        max-width: 90%;
    }

    .github p {
        width: 100%;
    }

    .login form {
        max-width: 90%;
        height: 4rem;
    }

    .login form input {
        width: 100%;
    }

    .login form button{
        width: 4rem;
        height: 4rem;
    }

    .login .logo svg {
        width: 20rem;
    }
}